<h1>Hola</h1>

<div class="divBtnCart">
    <button id="cart">
        {{!-- <a href="http://localhost:8080/api/carts">Carrito</a> --}}
        Carrito
    </button>
    <button>
        <a href="http://localhost:8080/login">Perfil</a>
    </button>
    <button id="btnAdmin">
        <a href="http://localhost:8080/api/createproduct">admin</a>
    </button>
</div>

<div class="bodyHome">
    <div class="contentFilter">
        <div>
            <h4>Categorías</h4>
            <ul>
                <li>
                    <a href="http://localhost:8080/api/products">Todos</a>
                </li>
                {{#each filterCategory}}
                <li>
                    <a href="http://localhost:8080/api/products?category={{this._id}}">
                        {{this._id}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h4>Ordernar por</h4>
            <ul>
                <li><a
                        href="http://localhost:8080/api/products?page={{products.page}}&limit={{products.limit}}&sort=nameAsc{{categoryString}}">Nombre
                        Ascendente</a></li>
                <li><a
                        href="http://localhost:8080/api/products?page={{products.page}}&limit={{products.limit}}&sort=nameDesc{{categoryString}}">Nombre
                        Descendente</a></li>
                <li><a
                        href="http://localhost:8080/api/products?page={{products.page}}&limit={{products.limit}}&sort=priceAsc{{categoryString}}">Precio
                        Ascendente</a></li>
                <li><a
                        href="http://localhost:8080/api/products?page={{products.page}}&limit={{products.limit}}&sort=priceDesc{{categoryString}}">Precio
                        Descendente</a></li>
            </ul>

        </div>
    </div>
    <div class="content">
        <div class="contentProducts">
            {{#each products.docs}}
            <div class="contentProd">
                <button class="btnDeleteProduct" prodID="{{this._id}}">X</button>
                <h3>{{this.name}}</h3>
                <p>{{this.description}}</p>
                <div class="divPricCat">
                    <p class="cat"> {{this.category}}</p>
                    <p class="price"> ${{this.price}}</p>
                </div>
                <div class="divBtnsCart">
                    <div class="divIpBtn">
                        <input type="number" max="{{this.stock}}" min="1" name="quantity" value="1"
                            id="quantity{{this._id}}">
                        <button class="btnCart" productId="{{this._id}}">
                            Agregar al carrito
                        </button>
                    </div>
                    <div class="cartSelect" productId="{{this._id}}">
                    </div>
                <button>
                    <a href="http://localhost:8080/api/products/{{this._id}}">Detalle del producto</a>
                </button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>


<div class="arrows">
    {{#if products.hasPrevPage}}
    <a href={{products.prevLink}}>
        << Anterior</a>
            {{/if}}
            &nbsp;
            {{products.page}}
            &nbsp;
            {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Siguiente >></a>
            {{/if}}
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/Home&Carts.js"></script>